@charset "utf-8";
/* CSS Document */

#logo, #headBt .exit, #headBt .online, #headInfo, #headInfo .name, #headInfo .money, #headInfo .addMoney, #headInfo .decMoney, #headInfo .money, #headInfo .email, #mainNavBg, #banner, #ad, #ad img, #adContainer .prev, #adContainer .next, #subContent, #subNav,#subNav .bg ,#lottery ,#lottery .one,#lottery2 .one span ,#lottery2 .two .dot,#winNum,#winNum .two span,#lotteryType span{ behavior:url("js/mbo2012/png/iepngfix.htc") }
html { background:#000 url(../../images/mbo2012/bodyBg03.jpg) repeat-y center top; }
body {
	font: 12px/24px  Microsoft YaHei,"\5b8b\4f53";
	min-width:982px;
	text-align:center;
	background:url(../../images/mbo2012/bodyBg01.jpg) no-repeat center top;
	color:#fff;
}
#bodyBg {
	background:url(../../images/mbo2012/bodyBg02.jpg) no-repeat center bottom;
	_height:898px;
	min-height:898px;
}
.name2 {
    float: left;
    font-weight: bold;
    height: 36px;
    line-height: 32px;
    padding-left: 42px;
}
#subNavContainer {
	width:980px;
	margin:0 auto 5px;
	text-align:left;
}
.page {text-align:right; padding:5px 10px; color:#000;}
.newsPages {text-align:center; padding:10px 0; color:#000;}

.st {font-family:"\5b8b\4f53";}
a { color:#fff; }
a:hover { text-decoration:underline; }
.white { color:#fff; }
.red {color:red;}
.green {color:#B5ED58;}
.underline {text-decoration:underline;}
.floatR {float:right;}
.floatL {float:left;}

.displayNone {display:none;}
.overflowHidden {overflow:hidden;}
.marginb10px {margin-bottom:10px;}
.marginb5px {margin-bottom:5px;}
.lineheight46px {line-height:46px;}

.line10px {  width:100%; height:10px; clear:both; overflow:hidden;}
/* =content -----------------------------------------------------------------------------*/
#head {
	width:940px;
	margin:0 auto;
	padding:1px 10px 10px 30px;
	position:relative;
	text-align:left;
}
#logo {
	width:182px;
	height:52px;
	overflow:hidden;
	margin:14px 0 0;
	float:left;
}

/*--------头部按钮--------------*/
#headBt {
	width:188px;
	height:16px;
	position:absolute;
	right:30px;
	top:10px;
}
#headBt .exit, #headBt .online {
	background:url(../../images/mbo2012/headBt.png) no-repeat;
	float:left;
	height:16px;
	width:84px;
	overflow:hidden;
	cursor:pointer;
	margin:0 7px;
}
#headBt .exit {text-indent:-9999px; width:75px;}
#headBt .online { background-position:-87px 0; }
/*------------头部按钮-----------*/

#headInfo {
	float:right;
	display:inline;
	margin:35px 10px 0 0;
	background:url(../../images/mbo2012/headInfo.png) no-repeat right -180px;
	padding-right:12px;
}
#headInfo .name {
	background:url(../../images/mbo2012/headInfo.png) no-repeat;
	height:36px;
	line-height:32px;
	padding-left:42px;
	font-weight:bold;
	float:left;
}
#headInfo .money, #headInfo .addMoney, #headInfo .decMoney, #headInfo .money, #headInfo .email {
	background:url(../../images/mbo2012/headInfo.png) no-repeat;
	height:36px;
	line-height:34px;
	padding-left:42px;
	float:left;
	color:#B5ED58;
	white-space:nowrap;
}
#headInfo .money {
	background-position:0 -36px;
	position:relative;
	padding-right:16px;
}
#headInfo .addMoney { background-position:0 -72px; }
#headInfo .decMoney { background-position:0 -108px; }
#headInfo .email { background-position:0 -144px; padding-left:22px; }
#headInfo a {
	color:#B5ED58;
	line-height:34px;
	blr:expression(this.onFocus=this.blur());
	outline:none;
}
#headInfo a:focus { -moz-outline-style: none; }
#headInfo a:hover { text-decoration:none; }
#headInfo .sx {
	position:absolute;
	right:0;
	top:11px;
	background:url(../../images/mbo2012/sx.gif) no-repeat;
	width:12px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
}
#mainNavBg {
	clear:both;
	background:url(../../images/mbo2012/nav.png) no-repeat;
	width:1000px;
	height:61px;
	margin:0 auto 5px;
	text-align:left;
}
#mainNav { float:left; }
#mainNav li, #mainNav a {
	float:left;
	display:inline;
}
#mainNav .current, #mainNav a:hover { background:url(../../images/mbo2012/nav01.gif) no-repeat    }
#mainNav .nav01 a, 
#mainNav .nav02 a, 
#mainNav .nav03 a, 
#mainNav .nav04 a, 
#mainNav .nav05 a, 
#mainNav .nav06 a,
#mainNav .nav07 a
{
	float:left;
	width:80px;
	height:50px;
	text-indent:-9999px;
	overflow:hidden;
}
#mainNav .nav04 a, #mainNav .nav05 a { width:110px; }





#mainNav .nav01 a { width:61px; }
#mainNav .nav02 a { width:67px; }
#mainNav .nav03 a { width:67px; }
#mainNav .nav04 a { width:81px; }
#mainNav .nav05 a { width:90px; }
#mainNav .nav06 a { width:100px; }
#mainNav .nav07 a { width:82px; }
#mainNav .nav01 { margin-left:35px;}
#mainNav .nav01 .current, #mainNav .nav01 a:hover { background-position:0 0; }
#mainNav .nav02 { margin-left:8px; }
#mainNav .nav02 .current, #mainNav .nav02 a:hover { background-position:0 -50px; }
#mainNav .nav03 { margin-left:8px; }
#mainNav .nav03 .current, #mainNav .nav03 a:hover { background-position:0 -100px; }
#mainNav .nav04 { margin-left:8px; position:relative; }
#mainNav .nav04 .new {position:absolute; top:6px; right:0;}
#mainNav .nav04 .current, #mainNav .nav04 a:hover { background-position:0 -150px; }
#mainNav .nav05 { margin-left:8px; }
#mainNav .nav05 .current, #mainNav .nav05 a:hover { background-position:0 -200px; }
#mainNav .nav06 { margin-left:8px; }
#mainNav .nav06 .current, #mainNav .nav06 a:hover { background-position:0 -250px; }
#mainNav .nav07 { margin-left:8px; }
#mainNav .nav07 .current, #mainNav .nav07 a:hover { background-position:0 -300px; }









#menu {
	float:right;
	_display:inline;
	margin:17px 26px 0 0;
	width:264px;
}
#menu a {
	float:left;
	width:66px;
	height:16px;
	text-align:center;
	overflow:hidden;
	text-indent:-9999px;
}
#ad {
	clear:both;
	background:url(../../images/mbo2012/bannerBg.png) no-repeat;
	width:928px;
	height:238px;
	margin:0 auto;
	text-align:left;
	padding:25px 36px 34px 36px;
}
#adContainer {
	width:928px;
	height:238px;
	position:relative;
	overflow:hidden;
}
#adContainer .prev, #adContainer .next {
	width:44px;
	height:238px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:0;
	z-index:2;
	cursor:pointer;
}
#adContainer .prev {
	background:url(../../images/mbo2012/adArrowLeft.png) no-repeat;
	left:0;
}
#adContainer .next {
	background:url(../../images/mbo2012/adArrowRight.png) no-repeat;
	right:0;
}
#content {
	background:url(../../images/mbo2012/contentBg.gif) repeat-y;
	width:947px;
	padding:0 15px 14px 18px;
	margin:0 auto;
	text-align:left;
	_height:247px;
	min-height:247px;
}
#notice {
	background:url(../../images/mbo2012/notice.gif) no-repeat;
	height:42px;
	line-height:42px;
	padding:0 20px 0 112px;
}
#notice .title { display:none; }
#about {
	background:url(../../images/mbo2012/aboutBg.gif) no-repeat;
	width:302px;
	height:129px;
	overflow:hidden;
	float:left;
	_display:inline;
	position:relative;
	padding:40px 0 0 0;
}
#about .title { display:none }
#about .more {
	position:absolute;
	width:30px;
	height:8px;
	top:25px;
	right:25px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
#about .detail {
	width:270px;
	height:100px;
	margin:0 auto;
	/*text-indent:2em;*/
}
#buyCenter {
	background:url(../../images/mbo2012/buyBg.gif) no-repeat;
	width:633px;
	height:127px;
	float:right;
	_display:inline;
	padding:42px 0 0;
	overflow:hidden;
}
#buyCenter .title { display:none }
#buyCenter .list {
	width:620px;
	margin:0 auto;
}
#buyCenter .list li {
	float:left;
	margin:0 4px;
	_display:inline;
	background:url(../../images/mbo2012/imgBg.gif) no-repeat;
	padding:6px;
	width:104px;
	height:104px;
}
#buyCenter .list a {
	float:left;
	width:100px;
	height:100px;
	border:2px solid #A5DC4A;
}
#buyCenter .list a:hover { border:2px solid #fff; }
#footer {
	clear:both;
	width:980px;
	height:172px;
	margin:0 auto;
	text-align:center;
	color:#E1F48B;
	line-height:20px;
	padding:20px 0 0;
	position:relative;
}
#quickLink {
	position:absolute;
	top:44px;
	right:50px;
	z-index:2;
	color:#E1F48B;
}
#quickLink a { color:#E1F48B; }
#quickLinkDark {
	position:absolute;
	top:45px;
	right:51px;
	z-index:1;
	color:#000;
}
#subContent {
	clear:both;
	background:url(../../images/mbo2012/subContentBg.png) no-repeat;
	width:980px;
	margin:0 auto;
	text-align:left;
	position:relative;
	padding:40px 0 0;
	min-height:16px;
	_height:16px;
}
#subContent #notice { padding:0 30px 0 112px; position:absolute; top:3px; left:18px;}
#subContent .bg {
	background:url(../../images/mbo2012/subContentBg01.gif) repeat-y;
	padding:0 25px;
	width:930px;
	_height:520px;
	min-height:520px;
}
#siderbar {
	width:177px;
	float:left;
	_display:inline;
	overflow:hidden;
	margin-bottom:20px;
}
#siderbar .title {
	background:url(../../images/mbo2012/siderbar01.gif) no-repeat;
	height:39px;
	line-height:38px;
	font-family:Microsoft YaHei;
	color:#e3f48c;
	font-size:14px;
	text-align:center;
	letter-spacing:2px;
}
#siderbar .list {
	background:url(../../images/mbo2012/siderbar02.gif) no-repeat left bottom;
	padding:10px 0 10px 14px;
}
#siderbar .list li {
	float:left;
	width:163px;
}
#siderbar .list a {
	float:left;
	width:163px;
	background:url(../../images/mbo2012/siderbarlink01.gif) no-repeat;
	height:29px;
	line-height:29px;
	text-indent:22px;
	blr:expression(this.onFocus=this.blur());
	outline:none;
}
#siderbar .list a:focus { -moz-outline-style: none; }
#siderbar .list a:hover {
	background:url(../../images/mbo2012/siderbarlink02.gif) no-repeat;
	text-decoration:none;
	color:#784208;
}
#siderbar .list .current a, #siderbar .list .current a:hover {
	background:url(../../images/mbo2012/siderbarFocus.gif) no-repeat;
	color:#784208;
}

#mainContent {
	background:#D5D8DE url(../../images/mbo2012/mainContentBg.gif) no-repeat left bottom;
	width:750px;
	float:right;
	_display:inline;
	color:#000;
	position:relative;
	padding-bottom:20px;
	_height:460px;
	min-height:460px;
	margin-bottom:20px;
}
#mainContent a {color:#000;}
#mainContent .topName {
	background:url(../../images/mbo2012/mainContentTitle.gif) no-repeat;
	height:44px;
	line-height:44px;
	font-size:14px;
	text-indent:40px;
	overflow:hidden;
	margin-bottom:20px;
}
#address {
	top:0;
	position:absolute;
	top:10px;
	right:20px;
}
#contentBox {
	width:710px;
	margin:0 auto;
}
.formTable {
	border:1px solid #A7ADBB;
}
.formTable th ,
.formTable td {
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	padding:4px 10px;
	vertical-align:middle;
}
.formTable th {
	text-align:right;
}
.formTable .odd th ,
.formTable .odd td {
	background-color:#EFEFEF;
}
.formTable .even th ,
.formTable .even td {
	background-color:#F6F6F6;
}

.formCheck ,
.formNext ,
.formBack ,
.formSubmit ,
.formReset ,
.formChange ,
.formLibd ,
.formZjbd ,
.formSame ,
.formWord ,
.formCancel {
	background:url(../../images/mbo2012/bt.gif) no-repeat;
	width:91px;
	height:28px;
	color:#F09610;
	border:0;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	margin:15px 20px;
	overflow:hidden;
	_text-indent:0;
}
.formNext {background-position:0 -28px;}
.formBack {background-position:0 -56px;}
.formSubmit {background-position:0 -84px;}
.formReset {background-position:0 -112px;}
.formChange {background-position:0 -140px;}
.formLibd {background-position:0 -202px;}
.formZjbd {background-position:0 -230px;}
.formSame {background-position:0 -258px;}
.formCancel {background-position:0 -314px;}
.formWord {text-align:center; background-position:0 -286px; text-indent:0; line-height:29px; font-size:12px; color:#784208; font-weight:bold; width:81px; margin:0 5px;}
.formOk {
	float:right;
	background:url(../../images/mbo2012/xhl.gif) no-repeat;
	width:139px;
	height:36px;
	margin:0 5px;
	border:0;
	color:#EEF1F2;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	overflow:hidden;
	text-indent:-9999px;
	_text-indent:0;
}
.bt_cancel {
	float:right;
	background:url(../../images/mbo2012/bt_cancel.gif) no-repeat;
	width:91px;
	height:28px;
	margin:0 5px;
	border:0;
	color:#EEF1F2;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	overflow:hidden;
	text-indent:-9999px;
	_text-indent:0;
}
.grayTable {
	border:1px solid #828A97;
	margin-bottom:10px;
}
.grayTable th {
	background-color:#8F98A3;
	border:1px solid #D5D8DE;
	text-align:center;
	padding:2px;
	border-left:0;
}
.grayTable td {
	border:1px solid #8F98A3;
	background-color:#EFEFEF;
	text-align:center;
	padding:2px;
	border-left:0;
	border-bottom:0;
}
.grayTable .left {text-align:left; text-indent:20px;}
.grayTable .left_noindent {text-align:left;}

#point {
	background:url(../../images/mbo2012/point.gif) no-repeat 8px 0;
	line-height:27px;
	padding-left:50px;
	margin-bottom:12px;
}

#error {
	background:url(../../images/mbo2012/attention.gif) no-repeat 0 0;
	_height:64px;
	min-height:64px;
	width:400px;
	margin:0 auto;
	line-height:22px;
	padding:16px 0 0 74px;
}
#error .title {
	color:#E45E00;
	margin-bottom:20px;
}

.dotTitle { font-size:12px;margin:10px 0; font-size:14px;}

#newsList {color:#000;}
#newsList li {
	line-height:28px;
	height:28px;
	padding:0 20px;
	width:670px;
	float:left;
}
#newsList .even {
	background-color:#EFEFEF;
	border-top:1px solid #FFF;
	border-bottom:1px solid #ddd;
}
#newsList .odd {
	background-color:#F6F6F6;
	border-top:1px solid #FFF;
	border-bottom:1px solid #ddd;
}
#newsList a {float:left; color:#000;}
#newsList .date {float:right; color:#666;font-family:"\5b8b\4f53";}


#appraise {text-align:left; color:#000;}
#appraise .question {
	background:url(../../images/mbo2012/dot12.gif) no-repeat 15px 4px;
	padding-left:50px;
	padding:5px 0 0 50px;
	margin-bottom:5px;
	font-weight:bold;
}
#appraise .answer {
	background:url(../../images/mbo2012/dot13.gif) no-repeat;
	padding:5px 0 0;
	margin-bottom:10px;
	line-height:18px;
}
#appraise .answer .border {padding:8px 15px;border:1px solid #FF6A00;border-top:0; background-color:#fff;}

#newsDetail .title{
	border-top:1px solid #fff;
	background-color:#EFEFEF;
	text-align:center;
	padding:8px 0 0;
	line-height:20px;
}
#newsDetail .date{
	border-bottom:1px solid #fff;
	background-color:#EFEFEF;
	text-align:center;
	color:#666;
	padding:0 0 8px 0;
	line-height:20px;
	font-family:"\5b8b\4f53";
}
#newsDetail .detail {
	padding:10px ;
	border-bottom:1px solid #fff;
	line-height:30px;
}
#newsDetail .back {
	text-align:right;
	padding:10px;
}
#newsDetail .back a {
	display:inline-block;
	background:url(../../images/mbo2012/back.gif) no-repeat;
	width:46px;
	height:15px;
	line-height:5000px;
	overflow:hidden;	
}

#gameMethod .Menubox {
	background:url(../../images/mbo2012/gameMethod01.gif) no-repeat;
	width:413px;
	height:45px;
	color:#fff;
	line-height:33px;
	margin-bottom:5px;
}
#gameMethod .Menubox li {float:left; text-align:center; height:45px; cursor:pointer;}
#gameMethod .Contentbox {clear:both; text-align:left;}

#one1 {width:102px;}
#one2 {width:104px;}
#one3 {width:104px;}
#one4 {width:103px;}
#one1.hover ,
#one2.hover ,
#one3.hover ,
#one4.hover { background:url(../../images/mbo2012/gameMethod02.gif) no-repeat;}
#one1.hover {background-position:0 0;}
#one2.hover {background-position:-102px 0;}
#one3.hover {background-position:-206px 0;}
#one4.hover {background-position:-310px 0;}

#playinfo_menu0 {width:102px;}
#playinfo_menu1 {width:104px;}
#playinfo_menu2 {width:104px;}
#playinfo_menu3 {width:103px;}
#playinfo_menu0.hover ,
#playinfo_menu1.hover ,
#playinfo_menu2.hover ,
#playinfo_menu3.hover {background:url(../../images/mbo2012/gameMethod02.gif) no-repeat;}
#playinfo_menu0.hover {background-position:0 0;}
#playinfo_menu1.hover {background-position:-102px 0;}
#playinfo_menu2.hover {background-position:-206px 0;}
#playinfo_menu3.hover {background-position:-310px 0;}



.gameMethod ,
.gameMethod th ,
.gameMethod td {
	border:1px solid #fff;
	border-collapse:collapse;
	padding:5px;
}

#subNav {
	background:url(../../images/mbo2012/subNav.png) no-repeat right -27px;
	padding-right:13px;
	height:27px;
	float:left;
	display:inline;
	margin:-8px 0 0;
	position:relative;
}
#subNav .bg {
	background:url(../../images/mbo2012/subNav.png) no-repeat;
	height:27px;
	line-height:32px;
	overflow:hidden;
	padding:0 10px 0 23px;
	float:left;
}
#subNav .current {
	color:#B5ED58;
	font-weight:bold;
}


/*------------------------------------*/
#lottery {
	background:url(../../images/mbo2012/bg01.png) no-repeat;
	width:360px;
	height:83px;
	float:left;
	_display:inline;
	overflow:hidden;
	margin-bottom:10px;
}
#lottery .one {
	background:url(../../images/mbo2012/ssclogo.png) no-repeat;
	width:75px;
	height:83px;
	float:left;
	_display:inline;
	margin:0 4px 0 10px;
	text-indent:-9999px;
	overflow:hidden;
}
#lottery .ico_CQSSC {background-position:0 0;}
#lottery .ico_HLJSSC {background-position:0 -83px;}
#lottery .ico_JX-SSC {background-position:0 -166px;}
#lottery .ico_XJSSC {background-position:0 -249px;}
#lottery .ico_SSL {background-position:0 -332px;}
#lottery .ico_SD11Y {background-position:0 -664px;}
#lottery .ico_JX11-5 {background-position:0 -582px;}
#lottery .ico_GD11-5 {background-position:0 -747px;}
#lottery .ico_CQ11-5 {background-position:0 -830px;}
#lottery .ico_BJKL8 {background-position:0 -498px;}
#lottery .ico_fucai3d {background-position:0 -498px;}
#lottery .ico_ticaip3 {background-position:0 -498px;}

#lottery .two {
	float:left;
	text-align:center;
	width:144px;
	line-height:20px;
	padding:10px 0 0;
}
#lottery .three {
	float:right;
	width:126px;
	text-align:center;
	padding:10px 0 0;
	position:relative;
}
#lottery .time {
	position:absolute;
	left:10px;
	top:41px;
	width:104px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#b5ed58;
}
/*----------------------------------------*/
#lottery2 {
	background:url(../../images/mbo2012/lottery1.gif) no-repeat;
	width:930px;
	height:83px;
	margin-bottom:10px;
	overflow:hidden;
}
#lottery2 .one {
	float:left;
	width:98px;
	height:83px;
	text-align:center;
	_display:inline;
	overflow:hidden;
	background:url(../../images/mbo2012/lottery2.gif) no-repeat right top;
}
#lottery2 .one span {
	width:75px;
	height:83px;
	float:left;
	background:url(../../images/mbo2012/ssclogo.png) no-repeat;
	margin:0 11px;
	_display:inline;
	text-indent:-999px;
	overflow:hidden;
}
#lottery2 .one .ico_CQSSC {background-position:0 0;}
#lottery2 .one .ico_HLJSSC {background-position:0 -83px;}
#lottery2 .one .ico_JX-SSC {background-position:0 -166px;}
#lottery2 .one .ico_XJSSC {background-position:0 -249px;}
#lottery2 .one .ico_SSL {background-position:0 -332px;}
#lottery2 .one .ico_SD11Y {background-position:0 -664px;}
#lottery2 .one .ico_JX11-5 {background-position:0 -582px;}
#lottery2 .one .ico_GD11-5 {background-position:0 -747px;}
#lottery2 .one .ico_CQ11-5 {background-position:0 -830px;}
#lottery2 .one .ico_BJKL8 {background-position:0 -498px;}
#lottery2 .one .ico_fucai3d {background-position:0 -995px;}
#lottery2 .one .ico_ticaip3 {background-position:0 -915px;}

#lottery2 .two {
	float:left;
	height:83px;
	_display:inline;
	overflow:hidden;
	background:url(../../images/mbo2012/lottery2.gif) no-repeat right top;
	padding:0 15px;
	width:308px;
}
#lottery2 .two .title {
	width:308px;
	text-align:center;
	height:35px;
	line-height:35px;
	overflow:hidden;
}
#lottery2 .two .num ,
#lottery2 .two .num2 {
	background:url(../../images/mbo2012/lottery3.gif) no-repeat;
	width:308px;
	height:40px;
	overflow:hidden;
}
#lottery2 .two .num ul {
	float:left;
}
#lottery2 .two .num li {
	background:url(../../images/mbo2012/lottery4.gif) no-repeat left top;
	margin-left:-2px;
	_display:inline;
	float:left;
	padding: 0 8px 0 10px;
}
#lottery2 .two .link {
	float:right;
	width:68px;
	_display:inline;
	line-height:18px;
	color:#000;
	padding:3px 0 0;
}
#lottery2 .two .ssl li {
	padding: 0 22px 0 24px;
}
#lottery2 .two .num .each {
	display:inline-block;
	background:url(../../images/mbo2012/lottery5.gif) no-repeat;
	width:32px;
	height:32px;
	text-align:center;
	line-height:23px;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	margin:4px 0;
}
#lottery2 .two .eachRow {
	color:#000;
	height:18px;
	overflow:hidden;
	padding:1px 0 1px 5px;
	line-height:18px;
}
#lottery2 .two .dot {
	float:left;
	background:url(../../images/mbo2012/dot.png) no-repeat;
	width:18px;
	height:18px;
	text-align:center;
	color:#fff;
	margin:0 1px;
}
#lottery2 .two .info {float:left; padding-left:10px; white-space:nowrap; width:93px; overflow:hidden;}
#lottery2 .three {
	float:right;
	width:200px;
	overflow:hidden;
	height:66px;
	_display:inline;
	overflow:hidden;
	background:url(../../images/mbo2012/lottery2.gif) no-repeat right top;
	padding:17px 20px ;
}
#lottery2 .four {
	text-align:center;
	width:128px;
	float:right;
	overflow:hidden;
}
#lottery2 .four .title {
	height:42px;
	line-height:42px;
	font-size:18px;
}
#lottery2 .four .time {
	background:url(../../images/mbo2012/lottery8.gif) no-repeat;
	width:106px;
	height:26px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	margin:0 auto;
	color:#B5ED58;
}
#lottery2 .five {
	float:left;
	background:url(../../images/mbo2012/lottery2.gif) no-repeat right top;
	width:106px;
	overflow:hidden;
	text-align:center;
	padding:17px 10px;
}
/*----------------------------------------*/












#winNum {
	float:right;
	_display:inline;
	background:url(../../images/mbo2012/bg02.png) no-repeat;
	width:560px;
	height:83px;
	overflow:hidden;
	margin-bottom:10px;
}
#winNum.bjkl8 {background:url(../../images/mbo2012/bg14.png) no-repeat;}
#winNum .one {
	float:left;
	_display:inline;
	width:144px;
	text-align:center;
	margin-left:12px;
}
#winNum .one .num {
	padding:10px 0 0;
	height:35px;
	line-height:16px;
}
#winNum .bt {
	display:inline-block;
	width:64px;
	height:26px;
	margin:0 4px;
	color:#B5ED58;
	line-height:26px;
	overflow:hidden;
}
#winNum .bt:hover {text-decoration:none;}
#winNum .two {
	width:355px;
	float:right;
	_display:inline;
	margin:18px 25px 0 0;
}
#winNum .two .each {
	width:59px;
	float:left;
	padding:0 6px;
}
#winNum .two .blueBox ,
#winNum .two .orangeBox ,
#winNum .two .redBox ,
#winNum .two .greenBox ,
#winNum .two .grayBox {
	float:left;
	background:url(../../images/mbo2012/ball.png) no-repeat;
	width:44px;
	height:46px;
	text-align:center;
	line-height:36px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#000;
	font-weight:bold;
	overflow:hidden;
}
#winNum .two .orangeBox {background-position:0 -46px;}
#winNum .two .redBox {background-position:0 -92px;}
#winNum .two .greenBox {background-position:0 -138px;}
#winNum .two .grayBox {background-position:0 -184px;}
#winNum .two .word {
	width:1em;
	color:#000;
	float:right;
	overflow:hidden;
	font-weight:bold;
}
#winNum .two .eachRow {
	color:#000;
	height:20px;
	overflow:hidden;
	padding:2px 0 2px 10px;
}
#winNum .two .dot {
	display:inline-block;
	background:url(../../images/mbo2012/dot.png) no-repeat;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	color:#fff;
	margin:0 2px;
}

.box{
	clear:both;
	background:#D5D8DE url(../../images/mbo2012/bg04.gif) no-repeat left bottom;
	padding-bottom:10px;
	width:930px;
	margin-bottom:10px;
}
.box .title {
	background:url(../../images/mbo2012/bg03.gif) no-repeat;
	height:44px;
	width:930px;
	overflow:hidden;
}
.box .title li {
	float:left;
}

#lotteryType {padding:5px 0 0 22px;}
#lotteryType li { float:left;height:32px; display:inline; margin-right:5px;background:url(../../images/mbo2012/bg05.gif) no-repeat right -144px; padding-right:7px; overflow:hidden;}
#lotteryType li.current,#lotteryType li.hover {background:url(../../images/mbo2012/bg05.gif) no-repeat right -48px;}
#lotteryType .m {float:left; height:32px;line-height:31px;background:url(../../images/mbo2012/bg05.gif) no-repeat left -96px; color:#000; cursor:pointer;  padding:0 3px 0 10px;}
#lotteryType .current span ,
#lotteryType .hover span {color:#fff;}
#lotteryType a:hover {text-decoration:none;}
#lotteryType .current .m ,#lotteryType .hover .m {background-position:left 0;}


#lotteryDetail {
	clear:both;
	padding:10px 20px;
	width:890px;
	color:#000;
}
#lotteryDetail a {color:#000;}
#lotteryDetail .grayTop {
	background:url(../../images/mbo2012/grayBg.gif) no-repeat;
	height:10px;
	overflow:hidden;
	margin-top:10px;
}
#lotteryDetail .grayBottom {
	background:url(../../images/mbo2012/grayBg.gif) no-repeat 0 -10px;
	height:10px;
	overflow:hidden;
	margin-bottom:10px;
}
#lotteryDetail .grayContent {
	background-color:#B1BACC;
	padding:0 20px;
	width:850px;
}
#lotteryDetail .each {
	clear:both;
	font-weight:bold;
	text-align:center;
	padding:4px 0;
}










#lotteryDetail .each .name {
	background:url(../../images/mbo2012/bg06.gif) no-repeat;
	float:left;
	width:94px;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#fff;
	_display:inline;
	margin-right:15px;
	padding-right:6px;
	letter-spacing:2px;
}
#lotteryDetail .each .numList li {
	cursor:pointer;
	float:left;
	_display:inline;
	margin:0 2px;
	background:url(../../images/mbo2012/bg06.gif) no-repeat 0 -40px;
	width:34px;
	height:34px;
	line-height:32px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	overflow:hidden;
}
#lotteryDetail .each .bigBt li {
	background:url(../../images/mbo2012/bg06.gif) no-repeat 0 -172px;
	width:80px;
	height:38px;
	line-height:38px;
}
#lotteryDetail .each .twoRow li {
	height:35px;
	overflow:hidden;
	padding:3px 0 0;
	line-height:16px;
	font-size:14px;
}
#lotteryDetail .each .numList .selected {
	cursor:pointer;
	float:left;
	_display:inline;
	margin:0 2px;
	background:url(../../images/mbo2012/bg06.gif) no-repeat 0 -84px;
	width:34px;
	height:34px;
	line-height:32px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
}
#lotteryDetail .each .bigBt .selected {
	background:url(../../images/mbo2012/bg06.gif) no-repeat 0 -220px;
	width:80px;
	height:38px;
	line-height:38px;
}
#lotteryDetail .each .twoRow .selected {
	height:35px;
	overflow:hidden;
	padding:3px 0 0;
	line-height:16px;
	font-size:14px;
}
#lotteryDetail .each .selectType {
	cursor:pointer;
	float:left;
	_display:inline;
	margin:0 2px;
	background:url(../../images/mbo2012/bg06.gif) no-repeat 0 -128px;
	width:34px;
	height:34px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#fff;
	font-weight:normal;
}





.grayTitle {
	background:url(../../images/mbo2012/bg08.gif) repeat-x;
	height:30px;
	padding:0 10px 0 20px;
	line-height:30px;
	margin:10px 0 0;
}
.grayTitle .qk {
	background:url(../../images/mbo2012/bg09.gif) no-repeat;
	width:50px;
	height:20px;
	line-height:20px;
	float:right;
	text-align:center;
	margin:4px 0 0;
}
.grayTitle .qk:hover {text-decoration:none;}
.whiteDetail {
	clear:both;
	border:1px solid #999;
	background-color:#fff;
	height:84px;
	overflow-y:scroll;
	margin-bottom:10px;
}
.whiteDetail th ,
.whiteDetail td {border-bottom:1px solid #ddd;
                 color: black;
    font-size: 12px;}
.tjBox {
	padding:0 10px;
	line-height:35px;
	margin-bottom:10px;
}

.tjBt {
	background:url(../../images/mbo2012/bg07.gif) no-repeat;
	width:101px;
	height:35px;
	text-indent:-9999px;
	float:right;
	overflow:hidden;
}
.blackTitle {
	clear:both;
	background:url(../../images/mbo2012/bg10.gif) no-repeat;
	height:29px;
	line-height:29px;
	padding:6px 13px;
	color:#fff;
}
.wyzhBt {
	background:url(../../images/mbo2012/bg11.gif) no-repeat;
	width:73px;
	height:29px;
	line-height:2000px;
	float:left;
	_display:inline;
	overflow:hidden;
	margin-right:10px;
}

.wyzhContent {
	border:1px solid #8F98A3;
	border-top:0;
	background-color:#fff;
	padding:5px 9px;
	width:870px;
}
.wyzhContent .threeTab  {
	background:url(../../images/mbo2012/zhTab.gif) no-repeat;
	width:225px;
	height:45px;
	color:#fff;
	line-height:32px;
}
.wyzhContent .threeTab li {float:left; text-align:center; height:45px; cursor:pointer;}
.wyzhContent .threeTab a {float:left; text-align:center; height:45px; cursor:pointer; color:#fff; font-size:14px;}
#lotteryDetail .wyzhContent .threeTab a {color:#fff}
.wyzhContent .threeTab a:hover {text-decoration:none;}
.wyzhContent .threeTab .one a {width:82px;}
.wyzhContent .threeTab .two a{width:69px;}
.wyzhContent .threeTab .three a{width:74px;}
.wyzhContent .threeTab .current {background:url(../../images/mbo2012/zhTab.gif) no-repeat;}
.wyzhContent .threeTab .one .current {background-position:0 -45px;}
.wyzhContent .threeTab .two .current {background-position:-82px -45px;}
.wyzhContent .threeTab .three .current {background-position:-151px -45px;}

.wyzhContent .twoTab  {
	background:url(../../images/mbo2012/zhTab2.gif) no-repeat;
	width:155px;
	height:45px;
	color:#fff;
	line-height:32px;
}
.wyzhContent .twoTab li {float:left; text-align:center; height:45px; cursor:pointer;}
.wyzhContent .twoTab a {float:left; text-align:center; height:45px; cursor:pointer; color:#fff; font-size:14px;}
#lotteryDetail .wyzhContent .twoTab a {color:#fff}
.wyzhContent .twoTab a:hover {text-decoration:none;}
.wyzhContent .twoTab .one a {width:81px;}
.wyzhContent .twoTab .two a{width:74px;}
.wyzhContent .twoTab .current {background:url(../../images/mbo2012/zhTab2.gif) no-repeat;}
.wyzhContent .twoTab .one .current {background-position:0 -45px;}
.wyzhContent .twoTab .two .current {background-position:-81px -45px;}

.wyzhContent .head {
	background-color:#ccc;
	padding:5px 10px;
	line-height:30px;
	margin-bottom:1px;
}
.wyzhContent .head .headContent {
	float:left;
	width:400px;
}
.wyzhContent .head .formSC {
	float:right;
	background:url(../../images/mbo2012/bg12.gif) no-repeat;
	width:102px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	cursor:pointer;
	_display:inline;
	margin:10px 0 0;
}
.tableBox {
    width: 870px;
    height: 300px;
	overflow-x:hidden;
    overflow-y: scroll;
}
.tableBox th ,
.tableBox td {border:1px solid #fff; border-collapse:collapse; text-align:center;}
.tableBox th {
	background-color:#AEAEAE;
}
.tableBox td {
	background-color:#DAD9D9;
}

#zjjl10  {color:#000;}
#zjjl10  a {color:#000;}
#zjjl10 .titleBt {
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../../images/mbo2012/bg13.gif) no-repeat;
	width:143px;
	height:29px;
	margin:8px 0 0 32px;
	
}

.textareaLong {
	width:700px;
	height:90px;
	margin-right:10px;
}

/*
<<<<<<< .mine
������CLIVE����
=======
CLIVE
>>>>>>> .r588
*/
.methodgroupname{
    font-weight: bold;
}
